body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size:80px;
    font-weight:600;
    color:#192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.title-h2  {
 font-size: 50px;
 font-weight: 600;
 color: #192b59;
 line-height: 1.2;
 letter-spacing: -1.5px;
}
.title-h2 span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.page-stat .title-h2{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.wrap {
   max-width: 1110px; 
   margin: 0 auto;
}
.nav{
    font-size:12px;
    font-weight:700;
    color:#6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
padding: 0 15px;
}
.nav-item {
    color: #6e7ea9;

}
.btn-primary {
    color: cornsilk;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
        color: #7e8bae;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        background-color: #cbdbe8;
        border: 1px solid #cbdbe8;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-secondary:hover {
    color: #7e8bae;
    background-color: #fff;
}

.btn-free{
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info{
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2.5px;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-group a + a {
    margin-left: 15px;

}
.grid h2 {
color: #192b59;
font-weight: 700;
font-size: 40px;
}

.grid h2 span{
color:#1085e4;
font-size: 14px;
display: block;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a{   
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.list-stat>li {
 font-size: 12px;
 color: #1085e4;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 2.7px; 
}
.list-stat>li>span{
  display: block;
font-size: 60px;
color: #bacbdc;
margin-bottom: 23px;
letter-spacing: 0;
}
/* PAGE */
.page-stat{

}












