body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size:80px;
    font-weight:600;
    color:#192b59;
}
.nav{
    font-size:12px;
    font-weight:700;
    color:#6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn-primary {
    color: cornsilk;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
        color: #7e8bae;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        background-color: #cbdbe8;
        border: 1px solid #cbdbe8;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-secondary:hover {
    color: #7e8bae;
    background-color: #fff;
}

.btn-free{
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info{
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2.5px;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-group a + a {
    margin-left: 15px;

}
.grid h2 {
color: #192b59;
font-weight: 700;
font-size: 40px;
}

.grid h2 span{
color:#1085e4;
font-size: 14px;
display: block;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a{
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.page-subscribe span{
    font-size: 14px;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
}
.page-subscribe h2 {
    font-size: 50px;
   

}
.page-softwere h2 {
    font-size: 50px;
    color: #192b59;
}
.page-softwere dt {
    font-size: 16px;
}