body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    font-size:80px;
    font-weight:600;
    color:#192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}
.logo {
    display: block;
    width:181px ;
    height: 49px;
    background-image:url(../img/logo.png);
    
}
.title-h2  {
 font-size: 50px;
 font-weight: 600;
 color: #192b59;
 line-height: 1.2;
 letter-spacing: -1.5px;
}
.title-h2 span{
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title-40  {
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    
   }
   .title-40 span{
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
       display: block;
       font-weight: 800;
       color: #1085e4;
       text-transform: uppercase;
       
   }
.page-stat .title-h2, .page-screen .title-h2{
    text-align: center;
    margin: 0 auto;  
}

.page-stat .title-h2{
    max-width: 500px;
}
.page-subscribe .title-h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}
.page-subscribe .title-h2 span{
    font-size: 25px;
}

.wrap {
   max-width: 1110px; 
   margin: 0 auto;
}
.box-header{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 305px;
}
.screen-img{
    display: block;
    background-image: url(../img/screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;

}
.list-company{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1110px; 
   margin: 0 auto;
}
.list-company-item {
    display: block
}
.company1{
    background-image: url(../img/bg1.png);
    flex-basis: 210px;
    height: 64px;
}
.company2{
    background-image: url(../img/bg2.png);
    flex-basis: 200px;
    height: 69px;
}
.company3{
    background-image: url(../img/bg3.png);
    flex-basis: 201px;
    height: 47px;
}
.company4{
    background-image: url(../img/bg4.png);
    flex-basis: 185px;
    height: 58px;
}
.nav{
    font-size:12px;
    font-weight:700;
    color:#6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
padding: 0 20px;
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;

}
.btn-primary {
    color: cornsilk;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color:transparent;
}

.btn-secondary {
        color: #7e8bae;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        background-color: #cbdbe8;
        border: 1px solid #cbdbe8;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-secondary:hover {
    color: #7e8bae;
    background-color: #fff;
}

.btn-free{
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info{
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2.5px;
        padding: 20px 40px;
        border-radius: 30px;
}
.btn-info:hover{
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}
.btn-group a + a {
    margin-left: 15px;

}
.grid h2 {
color: #192b59;
font-weight: 700;
font-size: 40px;
}

.grid h2 span{
color:#1085e4;
font-size: 14px;
display: block;
}

.grid-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a{   
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 76px;
} 
.list-stat>li {
 font-size: 12px;
 font-weight: 700;
 color: #1085e4;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 2.7px;   
}
.list-stat>li>span{
  display: block; 
font-size: 60px; 
color: #bacbdc;
margin-bottom: 23px;
letter-spacing: 0;
}
.screen{
    margin-top: 36px;
 margin-bottom: -7px;
}

.box-price{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.box-price-item{
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
}
.box-price-item h3 span{
    font-size: 20px;
}
.box-price-item p{
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item.active p{
    color: #fff;
}
.box-price-item:first-child h3{
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child{
    color:#fff;
}
.box-price-item h3 span:last-child{
    color: #7b8ab2;
}
.box-price-item.active{
    color: #fff;
    background-color:#192b59 ;
}
.box-price-item.active h3{
    color: #fff;
}
.box-price-item.active h3 span:first-child{
    color: #fff;
}
.box-price-item ul{
    list-style-type:none ;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}
.box-price-item ul>li{
    margin-bottom: 14px;
}
.box-price-item:after{
    content: "";
    width: 58px;
    height: 100px;
    background-image: url();
    position: absolute;
    top: 0;
    right: 0;
}
.box-price-item.active::after{
    display: none;
}
.box-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-subscribe-text{
    font-size: 18px;
    max-width: 437px;
}

.box-subscribe-user{
 position: relative;
}
.box-subscribe-child{
  flex-basis: 49%;  
}
.box-subscribe-user input{
    border: 2px solid #3f5cb1;
    font-size: 14px;
    color: #FFF;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.box-subscribe-user input:focus, .box-subscribe-user .btn-primary{
    outline: none;
}
.box-subscribe-user .btn-primary{
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 50px;

}

    .box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
    .box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
    .box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
    .box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}  

/* PAGE */
.page-header{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company{
    background-image: url(../img/Home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;

}

.page-stat, .page-screen{
background-color:#edf6ff ;

}
.page-stat{
padding: 116px 0 96px 0;
    }
  .page-plan, .page-screen{
    text-align: center;
    }
    .page-screen{
        padding: 116px 0 0 0;
    }
    .page-subscribe{
        padding: 25px 0 28 0;
        color: #fff;
        background: rgba(10,32,144,1);
background: -moz-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
background: -webkit-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -o-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: -ms-linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
background: linear-gradient(45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
    }













